extends layout

block content
  div
    div.center
      img.cover-pic(src="../img/zhoushen.png")
      h1.cover 周深QQ音乐数据
      a(href="https://zhou-shen-music-data.herokuapp.com/zhoushen/hitsongs") 歌曲收藏排行榜