* {
  box-sizing: border-box;
  font-family: "microsoft yahei", arial, sans-serif;
}

body {
  font: 1em;
  margin: 0;
  padding: 0;
  background: url(../img/hotpot.png);
  background-size: repeat;
}

/*light skin*/
.scroll-skin-light::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

.scroll-skin-light::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f5f5f5;
}

.scroll-skin-light::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #d5e3ff;
}

.cover {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 300;
  margin: .625rem 0 2.5rem;
  position: relative;
}
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cover-pic {
  height: 300px;
  border-radius: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}
.left-aligned {
  padding: 0 20px;
}
.title {
  font-size: 1.3em;
  background: rgb(102, 146, 228);
  border-radius: 0 0 15px 15px;
  line-height: 50px;
  color: #fff;
}
.ad {
  font-size: 1.1em;
  color: rgb(102, 146, 228);
}
.right-aligned {
  margin: 10px 20px;
  text-align: right;
}
.header-attr {
  font-size: 1.1em;
  color: rgb(102, 146, 228);
}
.title-tip {
  font-size: 0.9em;
  color: #a9b3c0;
}

.list-ul {
  padding: 0;
  margin: 0;
  height: auto;
  opacity: 0.85;
}
#list-title{
  font-weight: bold;
  font-size: 1.1em;
  border:2px solid rgb(102, 146, 228);
}
.list-title .list-span{
  color: #2C4E6C;
}
.list-li{
  list-style: none;
  background: #fff;
  line-height: 40px;
}
.list-li:nth-child(even){
  color: #333333;
  background: #E5E5E5;
}
.list-li::after {
  content: '';
  display: table;
  clear: both;
}

.list-span{
  float: left;
  display: block;
  padding: 0 10px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}

.index{
  width: 70px;
}
.song{
  width: calc(20% - 45px);
  text-overflow: ellipsis;
}
.last{
  width: 120px;
}
